.Modal{
    position:absolute;
    width: 50%;
    height: 50%;
    top: 15%;
    right: 25%;
    background-color: white;
    z-index: 99;
    box-shadow: -2rem 2rem 2rem rgb(36, 35, 35);
    border: solid black;
    text-align: center;
}

.saveModifications{
    top: 5px;
    right: 5px;
    position: absolute;
    height: 25px;
    color: white;
    background-color: black;
    font-size: large;
    border: 1px solid transparent;
    cursor: pointer;
}