.Size{
    display: inline-block;
    margin-bottom: 10px;
}

.checkbox {
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: rgb(207, 204, 204);
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-bottom: 15px;
}

.checkbox:hover{
    border: 1px solid black;
}

.Sizes label{
    text-align: center;
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 0.8em;
}

.Sizes input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.Sizes input:checked ~ .checkbox{
    background-color: black;
    color: rgb(207, 204, 204);
}