

.itemPicture{
    display: block;
    width: 100%;
    height: 270px;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.itemName{
    margin-bottom: 25px;
}

.itemPrice{
     padding-bottom: 30px;
}

.addButton{
    width: 100%;
    height: 50px;
    font-size: large;
    color: white;
    background-color: black;
    border: transparent;
    font-weight: 500;
    cursor: pointer;
} 

.addButton:hover{
    transition: background-color 0.2s ease 0s;
    background-color: rgba(255, 187, 0, 0.747);
}

.deleteItemButton{
    background-image: url('../../assets/icons/deleteItem.png');
    cursor: pointer;
    padding-bottom: 24px;
    width: 24px;
    background-color: white;
    border: 1px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}


.item:hover .addButton{
    transition: background-color 0.2s ease 0s;
    background-color: rgba(255, 187, 0, 0.747);
  }

@media only screen and (min-width: 768px){
    .itemPicture{height: 320px;}
}

