.contenuPanier{
    height: 100%;
    overflow-y: scroll;
}

.contenuPanier::-webkit-scrollbar{
    width: 10px;
}

.Cart{
    height: 50px;
    width: 50px;
    left: -50px;
    position: absolute;
    background-color: rgb(29, 30, 41);
    padding: 0px;
    cursor: pointer;
    border: 1px solid transparent;
}


.Cart:hover{
    background-color: rgb(42, 43, 59);
}

.Panier{
    top: 0px;
    right: -100%;
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
    z-index: 99;
    transition: right 0.2s ease 0s;
}

.Icone{
    width: 50px;
    height: 50px;
    background-image: url("../../assets/icons/cart.png");
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 25px;
    background-size: 50%;
}

.Products{
    width: 18px;
    height: 18px;
    color: black;
    background-color: rgba(255, 187, 0, 0.747);
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    bottom: 4px;
    right: 5px;
}

.PanierOpen{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 30, 41);
    transition: right 0.2s ease 0s;
    z-index: 99;
}

.Quit{
    background-color: rgb(29, 30, 41);
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    font-size: large;
    position: absolute;
}

.Quit:hover{
    background-color: rgb(42, 43, 59);
    transition: right 0.2s ease 0s;
}

.Head{
    height: 100px;
    color: white;
    padding-top: 45px;
    text-align: center;
}

.Icone2{
    width: 60px;
    height: 60px;
    background-image: url("../../assets/icons/cart.png");
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 25px;
    background-size: 50%;
}

.Products2{
    width: 18px;
    height: 18px;
    color: black;
    background-color: rgba(255, 187, 0, 0.747);
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    right: 5px;
}

.Head span{
    font-size: x-large;
    vertical-align: middle;
}

.Content{
    color: white;
    font-size: large;
    min-height: 500px;
    /* padding-bottom: 200px; */
    display: flex;
    flex-direction: column;
    
}
.Checkout{
    bottom: 0px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid transparent;
    box-shadow: 0px 10px 1000px rgb(14, 15, 20);
    z-index: 2;
    position: absolute;
    display: block;
    background-color: rgb(29, 30, 41);
}

.CheckoutDisplay{
    display: flex;
    justify-content: space-between;
    color: rgb(102, 103, 110);
}

.CheckoutDisplay div{
    
    padding: 80px 20px 0px 20px;
    vertical-align: middle;
}

.Subtotal{
    color: rgba(255, 187, 0, 0.747);
    font-size: x-large;
}

.CheckoutButton{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 45px;
    color: white;
    background-color: rgb(12, 12, 12);
    border: 1px solid transparent;
    font-size: large;
    cursor: pointer;
}

.CheckoutButton:hover{
    background-color: black;
}
@media only screen and (min-width: 768px){
    .Panier{
        width: 450px;
        right: -450px;
    }

    .PanierOpen{
        width: 450px;
        right: 0px;
    }

    .Quit{
        left: -50px;
    }
}